<div class="modal-card auth-modal">
    <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>
    <h2>LOGIN</h2>

    <form class="auth-form">
        <div class="input-group">
            <i class="fa-regular fa-envelope"></i>
            <input type="email" placeholder="Email">
        </div>
        <div class="input-group">
            <i class="fa-solid fa-lock"></i>
            <input type="password" placeholder="Password">
        </div>
        <div class="forgot-password">
            <a href="#">Forgot Password?</a>
        </div>

        <button type="submit" class="btn-primary btn-full">Login</button>

        <div class="divider">
            <span>Or login with</span>
        </div>

        <div class="social-login">
            <button type="button" class="btn-social btn-facebook">
                <i class="fa-brands fa-facebook-f"></i> Facebook
            </button>
            <button type="button" class="btn-social btn-google">
                <img src="../../profile-page/images/accounts/Google Logo.svg" alt="Google" width="18"> Google
            </button>
        </div>

        <div class="auth-footer">
            Don't have an account? <a href="#">Sign up</a>
        </div>
    </form>
</div>